@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,500;0,700;1,600&family=Raleway&display=swap');

/* style for tags */
body {
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
p {
    font-family: 'Poppins', sans-serif;
}

/* header style */
.logo {
    margin: 100px;
}

/* first section */
.flexible-container {
    display: flex;
    margin: 100px;
    margin-bottom: 100px;
}

.left-container {
    width: 50%;
}

.influencer-title {
    font-size: 50px;
}

.left-container p {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;

}

.prebook-btn {
    padding: 15px 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: #E02C6D;
    text-decoration: none;
    color: white;
    border-radius: 30px;
}

.right-container {
    width: 50%;
}

.right-container img {
    margin: 0px 120px;
    width: 540px;
    height: 514px;
    border-radius: 50%;
    border: 1px solid lightgray;
}

/* second and third section */
.collections {
    margin: 100px;
}

.collection-title {
    text-align: center;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.product {
    width: 350px;
    border: 1px groove;
    padding: 10px;
    margin: 50px 60px;
    overflow: hidden;
    box-shadow: 1px 1px 5px gray;
}

.products img {
    width: 100%;
}

.product-desc p {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.product img:hover {
    transform: scale(1.2);
    transition: transform 0.8s ease-in;
}

.see-more-btn {
    float: right;
    margin-right: 135px;
    font-family: 'Poppins', sans-serif;
    color: #E02C6D;
    text-decoration: none;

}

/* footer styles */
footer {
    background: midnightblue;
    overflow: hidden;
    text-align: center;
    color: white;
    padding-bottom: 60px;
}

.footer-desc p {
    margin: 0px;
}

.social-logos i {
    color: white;
    padding: 10px;
}


/* mobile screen media queries */
@media only screen and (max-width:688px) {
    .logo {
        text-align: center;
        display: inline;
    }

    .container {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .flexible-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0px;
        padding: 0px;
    }

    .left-container {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .influencer-title {
        font-size: 28px;
    }

    .right-container {
        width: 80%;
        padding: 10px;
        margin-left: 20px;
    }

    .right-container img {
        width: 100%;
        height: 350px;
        margin: 0;
    }

    .collections {
        margin: 0px;
        width: 95%;
        padding: 0;
        margin-left: 10px;
        overflow: hidden;
    }

    .collection-title {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .products {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .product {
        margin: 0px 0px 10px 0px;
    }

    .product-desc i {
        color: #E02C6D;
    }

    .see-more-btn {
        margin: 20px 0px;
        float: right;

    }

    footer {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    footer h1 {
        margin: 0;
        font-size: 20px;
    }

    footer p {
        font-size: 14px;
    }
}

/* media screen for tablet */
@media only screen and (min-width:688px) and (max-width: 992px) {
    .logo {
        text-align: center;
        display: inline;
    }

    .container {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .flexible-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0px;
        padding: 0px;
    }

    .left-container {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .influencer-title {
        font-size: 28px;
    }

    .right-container {
        width: 80%;
        padding: 10px;
        margin-left: 120px;
    }

    .right-container img {
        width: 80%;
        height: 400px;
        margin: 0;
    }

    .collections {
        margin: 0px;
        width: 95%;
        padding: 0;
        margin-left: 20px;
        overflow: hidden;
    }

    .collection-title {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .products {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .product {
        margin: 0px 0px 10px 0px;
    }

    .see-more-btn {
        margin: 20px 0px;
        float: left;
        margin-left: 10px;
    }

    footer {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    footer h1 {
        margin: 0;
        font-size: 30px;
    }

    footer p {
        font-size: 24px;
    }

}